extends layout

block content
  h1 welcome #{title}
  p #{msg}

  a(href="https://localhost:3003/html/rtc1.html") Видеочат user1
  a(href="https://localhost:3003/html/rtc2.html") Видеочат user2


  <br><br><br><hr>


